
modules = ["nodejs-20", "web"]
run = ["npm", "run", "start", "--", "--web", "--host", "0.0.0.0", "--port", "19006"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npx expo export --dump-sourcemap --clear --no-minify"]
run = ["sh", "-c", "npx serve dist -s"]
deploymentTarget = "gce"

[[ports]]
localPort = 19006
externalPort = 80

[workflows]
runButton = "Start Web (LAN)"

[[workflows.workflow]]
name = "Start Web (LAN)"
author = 34386304

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "expo start --web --lan --port 19006"
