
modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
deploymentTarget = "static"

[[ports]]
localPort = 8081
externalPort = 80
exposeLocalhost = true
