
modules = ["nodejs-20", "web"]
run = ["npm", "run", "start", "--", "--web", "--host", "localhost", "--port", "19006"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npx expo export --dump-sourcemap --clear --no-minify"]
run = ["sh", "-c", "npx serve dist -s"]
deploymentTarget = "gce"

[[ports]]
localPort = 19006
externalPort = 80
